.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin: $xl-size 0 $m-size 0;
    padding: 2.4rem;
    width: 100%
}
.big-button:disabled {
    opacity: .5;
    }

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button-list {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
    width:150px;
    height:100px;
    margin: $m-size;
}

.button-list-dead {
    background: darken($purple, 10%);
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: $off-white;
    font-size: $s-size;
    font-weight: 500;
    padding: 0;
    width: 100px;
    height:auto;
    margin: $m-size;
}

@media (min-width: $desktop-breakpoint) {
    .button-list {
        margin: $l-size;
    }
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

.button--plus-one {
    margin-right: $s-size;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
}

@media (min-width: $desktop-breakpoint) {
    .button-wrapper {
        width: auto;
        height: auto;
    }
}
